// Local credentials file. Keep this out of version control.
#ifndef WIFI_SSID
#define WIFI_SSID "SSID_NAME"
#endif

#ifndef WIFI_PASSWORD
#define WIFI_PASSWORD "WIFI_PASSWORD"
#endif

#ifndef HANDSHAKE_UUID
#define HANDSHAKE_UUID "2f1f6dc4-3021-45f2-a8a4-53f73090e6c7"
#endif
